:root {
  --lightBlueGreen: #6ed3cf;
  --softPurple: #9068be;
  --eightiesGrey: #e1e8f0;
}

body {
  padding: 40px;
  background: var(--eightiesGrey);
}

.centered {
  text-align: center;
}

#formDiv {
  padding: 40px;
  padding-bottom: 20px;
  background: var(--lightBlueGreen);
}

input, select, textarea {
  max-width: 300px;
}

.form-row {
  display: flex;
  flex-direction: row;
}

.form-column {
  width: 50%;
  padding: 10px;
}

.form-check {
  margin-left: 20px;
}

button {
  background-color: var(--softPurple) !important;
  border-color: var(--softPurple) !important;
  color: var(--lightBlueGreen) !important;
  margin-left: 10px;
}

@media only screen and (max-width: 700px) {
  .form-column {
    width: 100%;
    padding: 0px;
  }
}
